<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav [mode]="sidemode" [(opened)]="opened">
    <div class="info">
      <img src="assets/avatar.gif" alt="">
      <!--      <button mat-button [mat-menu-trigger-for]="appMenu" class="user-logo"></button>-->
      <p class="mat-body-strong">Firstname Lastname</p>
      <p>email@domainname.com</p>
    </div>
    <mat-list class="sidenav-menu">
      <mat-list-item class="sidenav-menu-item" routerLink="/categories"><mat-icon>view_day</mat-icon>Forum Categories</mat-list-item>
      <mat-list-item class="sidenav-menu-item" routerLink="/discussions"><mat-icon>question_answer</mat-icon>List Discussions</mat-list-item>
      <mat-list-item class="sidenav-menu-item" routerLink="/detail"><mat-icon>chat</mat-icon>Discussion Detail</mat-list-item>
      <mat-list-item class="sidenav-menu-item" routerLink="/bookmarks"><mat-icon>book</mat-icon>Bookmarks</mat-list-item>
      <hr>
      <mat-list-item class="sidenav-menu-item" routerLink="/users"><mat-icon>contacts</mat-icon>Teams & Users</mat-list-item>
      <mat-list-item class="sidenav-menu-item" routerLink="/settings"><mat-icon>settings</mat-icon> Settings   </mat-list-item>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content class="content-area">
    <mat-toolbar color="accent" class="mat-elevation-z8">

        <mat-icon color="black" routerLink="/main" class="cur">{{share.icon}}</mat-icon>
      <h2 class="toolbar-title">{{ share.title }} </h2>

      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>
      <mat-icon  disabled="true">search</mat-icon>
      <mat-icon class="cur ml-15" [matMenuTriggerFor]="appMenu">add</mat-icon>
      <mat-icon class="cur ml-15" (click)="opened = !opened">more_vert</mat-icon>

    </mat-toolbar >
    <!--Menu-->


    <mat-menu #appMenu="matMenu">
      <button mat-menu-item  routerLink="/categories/add"><mat-icon>plus_one</mat-icon>New category</button>
      <button mat-menu-item routerLink="/discussions/add"><mat-icon>post_add</mat-icon> New post</button>
      <button mat-menu-item routerLink="/users/add"><mat-icon>person_add</mat-icon>New user</button>
    </mat-menu>


    <!--Menu-->
    <div class="ex-container inner-block">


      <router-outlet></router-outlet>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>





